.gr_grid_container {
  /* customize grid container div here.*/
  width: 900px;
  margin-left: 20px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: inline-block;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  float: left;
  width: 98px;
  height: 160px;
  padding: 0px 0px;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
}

.gr_grid_book_container img{
  /* customize book cover image here */
  height: 160px;
} 